@import "./main";

* {
    font-family: 'DM sans';
}

body {
    @include tablette {
        margin: 0;
    }
}

h1 {
    font-size: 2.25em;
    color: #901C1C;
    position: absolute;
    right: 30px;
    font-weight: 400;
    font-size: 0.9em;
    top: 40px;
    @include desktop {
        top: 8px;
        font-size: 2.25em;
        right: 100px;
    }
    @include tablette {
        position: initial;
        font-size: 2.25em;
        text-align: center;
    }
}

#redirection {
    @include desktop {
        @include button;
        position: fixed;
        top: 5px;
        left: 50%;
        width: 200px;
        margin-left: -100px;
        padding: 5px;
        & a {
            text-decoration: none;
            color: #fff;
            &:hover {
                color: black;
            }
        }  
    }
}

#photographers-grid {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    @include desktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 80px;
    }
    @include tablette {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.photographer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    &__link {
        text-decoration: none;
        text-align: center;
    }
    &__picture {
        object-fit: cover;
        width: 263px;
        height: 277px;
        border-radius: 50%;
    }
    &__name {
        margin: 15px 0 0 0;
        font-size: 2.25em;
        color: #D3573C;
        font-weight: 400;
    }
    &__city {
        font-size: 0.8em;
        font-weight: 400;
        color: #901C1C;
        margin: 0;
    }
    &__description {
        font-size: 0.6em;
        font-weight: 400;
        margin: 0;
    }
    &__price {
        font-size: 0.5em;
        font-weight: 400;
        margin: 0;
        color: #757575;
    }
    &__tags {
        display: flex;
        list-style: none;
        padding-left: 0;
    }
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}