@import "./main";
@import "./home.scss";

* {
    font-family: 'DM Sans';
}

body {
    margin: 0;
}

header {
    margin-bottom: 10px;
}

#fisheye-logo {
    margin-left: 10px;
}

.photographer-card {
    margin: 0 10px 30px;
    background-color: #ffffff;
    padding: 0;
    @include desktop {
        margin: 50px 100px 0 100px;
        flex-direction: column;
        padding: 50px; 
        background-color: #FAFAFA;
    }
}

.photographer {
    &__infos {
        display: flex;
        justify-content: space-between;
        @include desktop {
            justify-content: flex-start;
        }
    }
    &__name {
        &--profile {
            position: initial;
            font-size: 2.2em;
            margin-top: 0;
            width: 230px;
            @include desktop {
                font-size: 4em;
                width: auto;
            }
        }
    }
    &__city {
        &--profile {
            font-size: 0.8em;
            @include desktop {
                font-size: 1.5em;
                margin-bottom: 20px;
            }
        }
    }
    &__description {
        &--profile {
            font-size: 0.8em;
            color: #525252;
            margin: 0;
            @include desktop {
                font-size: 1.1em;
            }
        }
    }
    &__picture {
        &--profile {
            width: 100px;
            height: 100px;
            margin-top: 10px;
            margin-right: 10px;
            box-shadow: 0px 4px 12px 0px #bebcbc;
            @include desktop {
                position: absolute;
                width: 263px;
                height: 277px;
                top: 155px;
                right: 120px;
            }
        }
    }
    &__tags {
        @include desktop {
            font-size: 1.2em;
        }
    }
}

#contact {
    position: fixed;
    width: 170px;
    bottom: 30px;
    left: 50%;
    margin-left: -85px;
    padding: 5px 20px;
    font-size: 1em;
    @include desktop {
        position: initial;
        margin-top: 20px;
        margin-left: 30px;
        height: 50px;
    }
}

.filter {
    opacity: 0;
    position: absolute;
    @include desktop {
        position: initial;
        margin: 50px 100px;
        opacity: 1;
        & a {
            text-decoration: none;
            color: #000000;
        }
        &__dropdown-link {
            cursor: pointer;
            border: none;
            background-color: #ffffff;
            font-size: 1.2em;
        }
    }
}

.dropdown {
    background-color: #901C1C;
    border-radius: 4px;
    display: none;
    padding: 0 10px;
    position: absolute;
    left: 200px;
    top: 475px;
    z-index: 10;
    &__icon {
        color: #901C1C;
    }
    & li {
        list-style: none;
        border-bottom: 1px solid white;
        padding: 15px 0;
        width: 165px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & a {
            text-decoration: none;
            color: #ffffff;
            cursor: pointer;
        }
    }
    &__link-last {
        border-bottom: none !important;
    }
}

.photo-grid {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__picture {
        text-decoration: none;
    }
    &__description {
        display: flex;
        justify-content: space-between;
        margin: 0 5px;
        align-items: center;
        color: #901C1C;
    }
    @include desktop {
        display: flex;
        flex-direction: row;
        margin-left: 100px;
        margin-right: 100px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

figure {
    margin: 0;
}

.photo {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    &__name {
        font-size: 0.9em;
        font-weight: 400;
        flex: 1;
        &--carousel {
            color: #901C1C;
        }
    }
    &__price {
        font-size: 0.8em;
        margin-right: 20px;
        @include desktop {
            font-size: 1.5em;
        }
    }
    &__like {
        & i {
            cursor: pointer;
            &:hover {
                transform: scale(1.3);
            }
        }
    }
    @include desktop {
        width: 350px;
        height: 300px;
        &__name {
            font-size: 1.5em;
        }
    }
}

video {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    @include desktop {
        width: 350px;
        height: 300px;
    }
}

#carousel {
    display: none;
    overflow: hidden;
    background-color: #ffffff9c;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    &__close {
        position: fixed;
        z-index: 2;
        top: 15px;
        right: 15px;
        color: #901C1C;
        cursor: pointer;
        & i {
            font-size: 2em;
        }
    }
    &__next {
        position: fixed;
        z-index: 2;
        right: 20px;
        top: 50%;
        color: #901C1C;
        cursor: pointer;
        & i {
            font-size: 2em;
        }
    }
    &__prev {
        position: fixed;
        z-index: 2;
        left: 20px;
        top: 50%;
        color: #901C1C;
        cursor: pointer;
        & i {
            font-size: 2em;
        }
    }
    &__container {
        display: flex;
        left: 50%;
        margin-left: -125px;
        align-items: center;
        position: fixed;
        height: 100%;
        top: 50px;
        @include desktop {
            margin-left: -450px;
            top: 0;
        }
    }
}

.carousel__item {
    & img {
        object-fit: contain;
        width: 250px;
        @include desktop {
            width: 900px;
            height: 600px;
        }
    }
    & h2 {
        text-align: center;
        width: 250px;
        margin-top: 10px;
        @include desktop {
            width: 900px;
        }
    }
    & video {
        width: 300px;
        height: 80%;
        margin-left: -25px;
        @include desktop {
            width: 700px;
            margin-left: 100px;
        }
    }
}

#info-stat {
    display: none;
    @include desktop {
        position: fixed;
        bottom: 0;
        right: 20px;
        background-color: #DB8876;
        width: 375px;
        height: 80px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.5em;
        &__likes {
            & i {
                margin-left: 10px;
            }
        }
    }
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff79;
    &__close {
        cursor: pointer;
        color: #ffffff;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        font-size: 2.2em;
        margin: 5px 25px;
        align-items: center;
        &--name {
            font-size: 2.2em;
            margin: 5px 25px;
        }
    }
    &__content {
        width: 100%;
        height: 100%;
        max-width: 500px;
        background: #DB8876;
        overflow: hidden;
        position: relative;
        padding-top: 10px;
    }
    &__body {
        margin: 0 10% 15px 7%;
    }
    &__submit {
        @include button;
        margin-top: 15px;
        padding: 10px 5px;
        width: 160px;
        position: relative;
        left: 50%;
        margin-left: -80px;
    }
    @include desktop {
        &__title {
            margin: 5px 35px;
            &--name {
                margin: 5px 35px;
            }
        }
        &__content {
            margin: 2% auto;
            height: auto;
            border-radius: 5px;
        }
        &__submit {
            @include button;
            left: 0;
            margin-left: 0;
        }
    }
}

.modal {
    &__input {
        border: 0.8px solid #ccc;
        outline: none;
        margin: 0;
        padding: 8px;
        width: 100%;
        border-radius: 5px;
        font-size: 1.2em;
        height: 30px;
        margin-bottom: 5px;
    }
    &__label {
        font-size: 1.5em;
        font-weight: 400;
        display: inline-block;
        margin-bottom: 10px;
    }
}

textarea {
    height: 120px;
    border-radius: 5px;
    border: 0.8px solid #ccc;
    padding: 8px;
    width: 100%;
    margin-bottom: 5px;
}
