@import "./main";
@import "./home.scss";

* {
    font-family: 'DM Sans';
}

body {
    margin: 0;
}

header {
    margin-bottom: 10px;
}

#fisheye-logo {
    scale: 0.8;
    margin-left: 10px;
    @include desktop {
        scale: 1;
        margin-left: 0;
    }
    @include tablette {
        margin-left: 0;
    }
}

.photographer-card {
    margin: 0 10px 30px;
    background-color: #ffffff;
    padding: 0;
    @include desktop {
        margin: 50px 100px 0 100px;
        flex-direction: column;
        padding: 50px; 
        background-color: #FAFAFA;
    }
}

.photographer {
    &__infos {
        display: flex;
        justify-content: space-between;
        @include tablette {
            margin-left: 20px;
        }
        @include desktop {
            justify-content: flex-start;
        }
    }
    &__name {
        &--profile {
            position: initial;
            font-size: 2.2em;
            margin-top: 0;
            width: 180px;
            @include desktop {
                font-size: 4em;
                width: auto;
            }
            @include tablette {
                text-align: left;
                width: auto;
            }
        }
    }
    &__city {
        &--profile {
            font-size: 0.8em;
            @include desktop {
                font-size: 1.5em;
                margin-bottom: 20px;
            }
        }
    }
    &__description {
        &--profile {
            font-size: 0.8em;
            color: #525252;
            margin: 0;
            @include desktop {
                font-size: 1.1em;
            }
        }
    }
    &__picture {
        &--profile {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 110px;
            right: 20px;
            box-shadow: 0px 4px 12px 0px #000000 25%;
            @include desktop {
                width: 263px;
                height: 277px;
                top: 155px;
                right: 120px;
            }
            @include tablette {
                width: 200px;
                height: 200px;
                top: 35px;
            }
        }
    }
    &__tags {
        @include desktop {
            font-size: 1.2em;
        }
    }
}

#contact {
    position: fixed;
    width: 170px;
    bottom: 30px;
    left: 50%;
    margin-left: -85px;
    padding: 5px 20px;
    font-size: 1em;
    @include desktop {
        position: initial;
        margin-top: 20px;
        margin-left: 30px;
        height: 50px;
    }
    @include tablette {
        bottom: 50px;
    }
}

.filter {
    opacity: 0;
    position: absolute;
    @include desktop {
        position: initial;
        margin: 50px 100px;
        opacity: 1;
        & a {
            text-decoration: none;
            color: #000000;
        }
    }
}

.dropdown {
    background-color: #901C1C;
    border-radius: 4px;
    display: none;
    padding: 0 10px;
    position: absolute;
    left: 200px;
    top: 490px;
    z-index: 10;
    & li {
        list-style: none;
        border-bottom: 1px solid white;
        padding: 15px 0;
        width: 165px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & a {
            text-decoration: none;
            color: #ffffff;
        }
    }
    &__last-link {
        border-bottom: none !important;
    }
}

.photo-grid {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__picture {
        text-decoration: none;
    }
    &__description {
        display: flex;
        justify-content: space-between;
        margin: 0 5px;
        align-items: center;
        color: #901C1C;
    }
    @include desktop {
        display: flex;
        flex-direction: row;
        margin-left: 100px;
        margin-right: 100px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    @include tablette {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 20px;
        &__picture {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__description {
            width: 300px;
            margin: 0;
        }
    }
}

.photo {
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    &__name {
        font-size: 0.9em;
        font-weight: 400;
        flex: 1;
    }
    &__price {
        font-size: 0.8em;
        margin-right: 20px;
        @include desktop {
            font-size: 1.5em;
        }
    }
    @include desktop {
        width: 350px;
        height: 300px;
        &__name {
            font-size: 1.5em;
        }
    }
}

video {
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    @include desktop {
        width: 350px;
        height: 300px;
    }
}
