header {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    @include desktop {
        margin: 30px 0 0 100px;
        justify-content: space-between;
        width: 60%;
    }
    @include tablette {
        justify-content: space-between;
        margin: 30px 30px;
    }
}

#fisheye-logo {
    scale: 0.8;
    position: relative;
    right: 10px;
    @include desktop {
        scale: 1;
        position: initial;
    }
    @include tablette {
        scale: 0.8;
    }
}

.tags {
    font-family: 'DM Sans', sans-serif;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    margin: 35px 20px 0 20px;
    &__name {
        font-size: 0.7em;
    }
    @include desktop {
        margin-top: 20px;
        &__name {
            font-size: 0.8em;
        }
    }
    @include tablette {
        margin: 20px 0;
    }
}